@charset "UTF-8";
/*** importaciones de partials scss ***/
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Barlow:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
/*** variables globales ***/
/*** variables colores ***/
/*** Fuentes ***/
/*** Font-family - Familias tipograficas ***/
/*** fontweight - Ancho de fuente ***/
/*** font-size - Tamaño de textos ***/
/* Realmente no tenía nada para repetir porque el sitio es chico */
.flexWrapJustCenter, footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*** Información general del proyecto ***/
/*** Globales ***/
html {
  font-family: "Barlow", sans-serif;
  font-size: 62.5%;
  color: #000000;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*** Titulos ***/
h1, h2, h3 {
  color: #002d72;
}

h1 {
  font-family: "Acme", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
}

h2 {
  font-family: "Acme", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

h3 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

h4 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

/*** Colores predefinidos ***/
.bg-bkg-clr-x-dark-blue {
  background-color: #0e2445;
}

.bg-bkg-clr-dark-blue {
  background-color: #002d72;
}

.bg-bkg-clr-mid-blue {
  background-color: #0c4aa8;
}

.bg-bkg-clr-light-blue {
  background-color: #4388d8;
}

.bg-bkg-clr-x-light-blue {
  background-color: #c1ddfe;
}

/*** Fonts colors ***/
.bg-font-clr-x-dark-blue {
  color: #0e2445;
}

.bg-font-clr-dark-blue {
  color: #002d72;
}

.bg-font-clr-mid-blue {
  color: #0c4aa8;
}

.bg-font-clr-light-blue {
  color: #4388d8;
}

.bg-font-clr-x-light-blue {
  color: #c1ddfe;
}

.btn-general {
  width: 100%;
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #002d72;
  --bs-btn-border-color: #002d72;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #0c4aa8;
  --bs-btn-hover-border-color: #0c4aa8;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

/*** Nav ***/
nav img {
  max-height: 25px;
  width: auto;
}

/*** Main ***/
main {
  height: auto;
}
main .main {
  margin: 10px 1%;
  padding: 20px;
}

/*** Footer ***/
footer {
  background-color: #0e2445;
  padding: 1.5rem;
}
footer ul {
  padding-left: 0;
}
footer ul li a {
  color: #c1ddfe;
}
footer ul li a:hover {
  color: #4388d8;
}
footer .redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .redes img {
  max-height: 30px;
  margin: 5px 10px;
}

@keyframes rotacionHor {
  to {
    transform: rotateY(360deg);
  }
}
@keyframes efectoMarca {
  50% {
    text-shadow: -16px 6px 15px #ced0d3;
  }
}
/*** Home ***/
#home {
  background-image: url("../img/index/dcr_inicio1.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}
#home .cont {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#home .homeMarca {
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px #ced0d3;
  color: #c1ddfe;
  letter-spacing: -0.05em;
  font-family: "Anton", Arial, sans-serif;
  user-select: none;
  text-transform: uppercase;
  font-size: 6rem;
  transition: all 0.25s ease-out;
  animation: efectoMarca 3s linear 1s infinite;
}
#home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
}
#home .home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#home p {
  color: #ffffff;
}

/*** Fin Home ***/
.servicios {
  padding: 20px;
}
.servicios .itemServicio {
  border-radius: 20px;
  min-height: 200px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicios .itemServicio img {
  max-width: 60px;
  animation: rotacionHor 8s linear 1s infinite;
}
.servicios .itemServicio h3 {
  margin: 15px 10px;
  width: 100%;
  text-align: center;
}
.servicios .itemServicio p {
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.portfolio {
  margin: 20px auto;
}
.portfolio a img {
  width: 100%;
  transition: ease-in-out 1s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.portfolio a img:hover {
  transition: ease-in-out 0.5s;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.contacto {
  margin-top: 20px;
  margin-bottom: 20px;
  /* mapa */
}
.contacto textarea {
  min-height: 130px;
}
.contacto .btnForm {
  margin: 5px 0;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0e2445;
  background-color: #c1ddfe;
  width: 100%;
  font-family: "Anton", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.contacto .btnForm:hover {
  background-color: #0c4aa8;
  color: #ffffff;
}
.contacto .mapa {
  /* width: 50%; */
  height: auto;
  padding: 10px;
}
.contacto .mapa iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

#error404 {
  background-image: url("../img/404-not_found.webp");
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}
#error404 .cont {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#error404 .error {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#error404 p {
  color: #000000;
  font-family: "Anton", Arial, sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}
#error404 h1 {
  font-family: "Anton", Arial, sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
}
#error404 .btnError {
  margin: 25px 0;
  padding: 10px 60px;
  border: 1px solid;
  border-radius: 5px;
  transition: 1s;
}
#error404 .btnErrorEfect {
  background-color: transparent;
  color: black;
}
#error404 .btnErrorEfect:hover {
  background-color: rgba(0, 0, 0, 0.22);
  border-color: rgba(0, 0, 0, 0.22);
  color: #ececec;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*# sourceMappingURL=style.css.map */
