.portfolio {
    margin: 20px auto;

    a {
        img {
            width: 100%;
            transition: ease-in-out 1s;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

            &:hover {
                transition: ease-in-out 0.5s;
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }
    }
    
}
