/*** variables globales ***/

/*** variables colores ***/
$clr-x-dark-blue: rgb(14, 36, 69);
$clr-dark-blue: rgb(0, 45, 114);
$clr-mid-blue: rgb(12, 74, 168);
$clr-light-blue: rgb(67, 136, 216);
$clr-x-light-blue: rgb(193, 221, 254);
$clr-black: rgb(0, 0, 0);
$clr-white: rgb(255, 255, 255);

/*** Fuentes ***/

/*** Font-family - Familias tipograficas ***/
$mainFont: 'Barlow', sans-serif;
$titleFont: 'Acme', sans-serif;

/*** fontweight - Ancho de fuente ***/
$textLigh: 200;
$textRegular: 400;
$textBold: 700;

/*** font-size - Tamaño de textos ***/
$textSm: 1.2rem;
$textMd: 1.6rem;
$textLg: 2rem;
$textXl: 2.8rem;
$textXxl: 3.5rem;


