/*** variables globales ***/

/*** variables colores ***/
$clr-x-dark-blue: #0e2445;
$clr-dark-blue: #002d72;
$clr-mid-blue: #0c4aa8;
$clr-light-blue: #4388d8;
$clr-x-light-blue: #c1ddfe;
$clr-black: #000000;
$clr-white: #ffffff;

/*** Fuentes ***/

/*** Font-family - Familias tipograficas ***/
$mainFont: 'Barlow', sans-serif;
$titleFont: 'Acme', sans-serif;
$brandFont: 'Anton', Arial, sans-serif;

/*** fontweight - Ancho de fuente ***/
$textLigh: 200;
$textRegular: 400;
$textBold: 700;

/*** font-size - Tamaño de textos ***/
$textSm: 1.2rem;
$textMd: 1.6rem;
$textLg: 2rem;
$textXl: 2.8rem;
$textXxl: 3.5rem;


